.container {
    width: 88%;
    margin: 0 auto;
}
header {
    height: 372px;   
    display: flex;

    background-image: url(./image/204398-OZ3P4A-964.png);
}
nav {
    background-color: rgba(0, 51, 149, 1);
}
footer {
    height: 148px;

    background: linear-gradient(180deg, #003395 0%, #00205F 100%);
}
.title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.links_nav {
    height: 75px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.main {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
section {
    flex-basis: 65%;
}
section div {
    margin-bottom: 50px;
}
aside {
    flex-basis: 30%;
}
aside div {
    padding: 19px;
    margin-bottom: 35px;
}
.aside_news, .aside_links {
    border: 2px solid rgba(51, 0, 141, 1);
}
.aside_news h2, .aside_links h2 {
    padding: 17px 14px;

    background-color: rgba(36, 176, 255, 1);
    color: white;
}
.footer {
    display: flex;
    justify-content: end;
}
section h2 {
    margin: 0;
    padding: 10px 0;

    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
}

/* ссылки */
a {
    color: rgba(0, 51, 149, 1);
}
ul {
    padding: 0;
}
li {
    list-style-type: none;
    padding-bottom: 10px;
}
li a {
    color: #30233D;
}
li a:hover {
    color:rgb(208, 42, 208);
}
.links_nav a {
    flex-basis: 10%;

    font-size: 18px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 2px;
    text-align: left;
    color: white;
    text-decoration: none;
}
.links_nav a:hover {
    transform: scale(1.2);
    transition: 1s;

    color:mediumturquoise; 
}


/* шрифт */
h1, h2, p, a {
    font-family: 'Roboto';
    font-style: normal;
    letter-spacing: 0px;
    text-align: left; 
}
section p, aside p, footer p {
    font-weight: 400;
}
h1, h2 {
    color: rgba(0, 51, 149, 1);
}
h1 {
    font-size: 54px;
    font-weight: 500;
    line-height: 63px;
}
.title p {
    font-size: 18px;
    line-height: 18px;
}
h2, .title p {
    font-weight: 700;
}
h2 {
    font-size: 27px;
    line-height: 32px;
}
section p {
    font-size: 24px;
    line-height: 28px;
}
aside p {
    line-height: 26px;
}
footer p {
    padding-top: 3%;
    
    font-size: 12px;
    line-height: 19px;
    text-align: right;
    color: white;
}


/* анимация */
@keyframes opacity_header {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.title {
    animation: opacity_header 1s ease-in alternate infinite;
}